# allows to filter out not required files copied from original Libcore
# out of scope files can be removed from disk by `git clean -fXd` command

## common
TEST_MAPPING

##
## BorringSSL. files to keep
##
/external/boringssl/*
/external/boringssl/**/test/**
!/external/boringssl/src
/external/boringssl/src/*
!/external/boringssl/src/include
!/external/boringssl/src/crypto
!/external/boringssl/src/ssl
!/external/boringssl/src/third_party/
/external/boringssl/src/third_party/*
!/external/boringssl/src/third_party/fiat
!/external/boringssl/src/LICENSE
!/external/boringssl/src/README.md
!/external/boringssl/MODULE_LICENSE_BSD_LIKE
!/external/boringssl/NOTICE
!/external/boringssl/BORINGSSL_REVISION
!/external/boringssl/err_data.c

##
## Expat. files to keep
##
/external/expat/*
!/external/expat/lib
!/external/expat/COPYING
!/external/expat/MODULE_LICENSE_MIT
!/external/expat/README.md
!/external/expat/expat_config.h

##
## zlib
##
/external/zlib/google
/external/zlib/patches
/external/zlib/Android.bp
/external/zlib/BUILD.gn
/external/zlib/CleanSpec.mk
/external/zlib/DIR_METADATA
/external/zlib/libz.map.txt
/external/zlib/OWNERS.android
/external/zlib/contrib/tests

##
## JavaSqlite
##
/external/javasqlite/Android.bp
/external/javasqlite/METADATA
/external/javasqlite/OWNERS

